.footer__column-link{
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 10px;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 0.6;
}

.footer__column-link:nth-of-type(3n) {
  margin-bottom: 0;
}
